@import "../../styles/main.scss";

.todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  padding: 0 4px;
  background-color: $color-light-grey;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $color-grey;
  }
}
