$font-family-main: "Mont", arial, helvetica, sans-serif;

$color-white: #fff;
$color-primary: #313237;
$color-secondary: #89939a;
$color-red: #ff0000c7;
$color-grey: #b4bdc4;
$color-blue: #3e8ed0;
$color-green: #b7f7bc;
$color-light-grey: #b4bdc347;
$color-light-yellow: #fffa6352;
